@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(./vendor/normalize.css);
@import url(./vendor/normalize.css);

@layer base { 
  #root {
    min-height: 100vh;
    overflow: hidden;
  }

  ::-webkit-scrollbar {
    width: 8px;
    background: #fff;
  }

  ::-webkit-scrollbar-thumb {
    background: #2F3C55;
  }
}

@layer components {
  .horizontal-scroller::-webkit-scrollbar {
    height: 4px;
    background: #fff;
  }
  .horizontal-scroller::-webkit-scrollbar-thumb {
    background: #2F3C55;
  }
}



